<h2>{{title}}</h2>
<hr>
<div class="container">
    <form >
        <div>
            <label>ID: </label>
            <input type="text" placeholder="hier eingebe">
        </div>
        
        <div>
            <label>Name: </label>
            <input type="text">
        </div>

        <div>
            <label>E-Mail: </label>
            <input type="next">
        </div>
        <br>
        <button class="btn btn-success" (click)="sendPost()">Send Post</button>
        <button class="btn btn-primary">Get Posts</button>
    </form>
<hr>
<h2>Ausgabe</h2>
    <!-- <div class="container">
        <h3>{{post.id}}</h3>
        <p>{{post.name}}</p>
    </div> -->
</div>